@charset "utf-8";

h1{
	color: #B40404; 
	text-align: center; 
	font: small-caps bold 300% serif
}

p{
	text-align: center;
}

table{
	margin: 0 auto;
}

td{
	width: 350px; 
	text-align: center; 
	font: 120% serif
}

a{
	font: small-caps bold 120% serif;
}

body{
	background-color: #E6E6E6
}

form{
	font: small-caps 120% serif; 
	margin-left: 10em; 
	margin-right: 10em
}

div.comprobar{
	color: #B40404;
	text-align: center;
	font: 100% serif;
}